@import url("https://www.redcheetah.com/torrington/admin/dealer_colors.css");

/* Accounting tables */
body.accounting_export table, body.accounting_credit table { min-width: 625px; }

/* Credit Memos */
body.credit_memo_add [name='form_action_1'], body.credit_memo_add [name='form_action_4'] { display: none; }
body.credit_memo_add .printEnvelopeInvoice tbody tr:nth-child(2) td:nth-child(1) table { display: none; }
body.credit_memo_add table table td { border: 1px solid #000 !important; }

/* Customer Order History Detail */
body.reports_view_order #contentPanel > div > div > div:nth-child(3n+4) > div table table, body.reports_view_history #contentPanel > div > div > div:nth-child(3n+4) > div table table { border-collapse: collapse !important; }
body.reports_view_order #contentPanel > div > div > div:nth-child(3n+4) > div table table td, body.reports_view_history #contentPanel > div > div > div:nth-child(3n+4) > div table table td { border: 1px solid #000; }

/* Everywhere but login */
body.notlogin .navbar-logo { display: none; }
body.notlogin .sidebar, body.notlogin #contentPanel { top: 44px; }
body.notlogin #side_accordion .accordion-body i.fa.fa-lg { font-size: 1em; line-height: 1em; vertical-align: middle; width: 9.4375px; }
body.notlogin table { border-collapse: collapse !important; border-spacing: 0 !important; max-width: 100% !important; }
body.notlogin #tosinfo { margin-top: 20px; }
body.notlogin #tosinfo span { font-weight: bolder; font-size: 1.5em; }
body.notlogin .tosblock { display: block; width: 625px; padding: 10px 0; text-align: right; }
body.notlogin .tosblock .largenoticered { font-size: 32px; color: red; font-weight: bold; }
body.notlogin .tosrequired { background: #fae555; }
body.notlogin #trnrmd, body.notlogin #trnrmdp, body.notlogin #trnrmdr, body.notlogin #trnrmdf, body.notlogin #trnrmddd, body.notlogin .training-link { display: none; }

/* Home Page - Main */
body.main #dealerMessages { border-top: 1px dotted #000; padding-top: 5px; margin-top: 25px; }

/* Item View */
body.item_view table table { border-collapse: collapse !important; border-spacing: 0 !important; }

/* Login */
body.login #logo-banner { display: none; }
body.torrington.login #main-logo { height: 96px; background: transparent url("http://toswy.com/toslogo2.png") top left no-repeat; }
body.torrington.login #main-logo img { display: none; }

/* Packing Slips Edit */
body.packing_slip_edit table table td, body.packing_slip_detail table table td { border: 1px solid #000; }
body.packing_slip_edit [name='form_action_4'], body.packing_slip_edit [name='form_action_5'] { display: none; }

/* Packing Slip Detail */
body.packing_slip_detail [name='form_action_5'] { display: none; }

/* Pending Orders View */
body.pending_orders_view td#accepted_orders, body.pending_orders_view td#held_orders, body.pending_orders_view .bodymargin > div > div > table > tbody > tr:nth-child(1) > td { background: #faebcc; }

/* Pending Orders Detail */
body.pending_orders_detail table table tr td.required { background: #faebcc; }

/* POS Checkout */
body.order_pos #usbhid { display: none; }
body.order_pos table tr:nth-child(2) table td:nth-child(3), body.order_pos table tr:nth-child(5) table:nth-child(1) td:not(:first-child), body.order_pos table tr:nth-child(5) table:nth-child(2) td:not(:nth-child(3)), body.order_pos table tr:nth-child(5) table:nth-child(3) { display: none; } /* check notes, credit type, CC#, security code, credit date, credit name, run later, billing */
body.order_pos .printEnvelopeInvoice tbody tr:nth-child(2) { display: none; }
body.order_pos table table td { border: 1px solid #000 !important; }
body.order_pos .toscheckout table td, body.order_pos .toscheckout table tr { border: none !important; }
body.order_pos .toscheckout > tbody > tr:not(:first-child) { border-top: 1px solid #a9a9a9; }

/* Quote Print */
body.quote_print .bodymargin > div { padding-top: 65px; }
body.quote_print .bodymargin > div > div > b { color: #c70000; font-size: 3em; }
body.quote_print .bodymargin div div table table { border-spacing: 0 !important; border-collapse: collapse !important; }
body.quote_print .bodymargin div div table table td { border: 1px solid #000; padding: 3px !important; }
body.torrington.quote_print .bodymargin > div { background: transparent url("http://toswy.com/toslogo.png") top left no-repeat; }
body.bhbs.quote_print .bodymargin > div { background: transparent url("https://www.redcheetah.com/bhbs/admin/images/img_lvl2.gif") top left no-repeat; }

/* Multiple Tables (Not print tables) */
body.admin_income_accounts_report #idincome_accounts_dateDiv table table tr, body.accounting_tax_mismatch #idincome_accounts_dateDiv table table tr, body.admin_income_accounts_report #idtax_mismatch_date_rangeDiv table table tr, body.accounting_tax_mismatch #idtax_mismatch_date_rangeDiv table table tr { border: none; }

body.credit_memo_add table table tr, body.contract_items_add table table tr, body.contract_items_edit table table tr, body.contract_items_company table table tr, body.item_view table table tr, body.pending_orders_detail table table tr, body.order_pos table table tr, body.order_quickadd table table tr, body.post_edi_detail table table tr, body.quote_edit table table tr, body.quote_add table table tr, body.admin_income_accounts_report table table tr, body.accounting_tax_mismatch table table tr, body.accounting_export table table tr, body.accounting_credit table table tr { border: 1px solid #a1a1a1; }

body.credit_memo_add table table tr.vendor_row, body.contract_items_add table table tr.vendor_row, body.contract_items_edit table table tr.vendor_row, body.contract_items_company table table tr.vendor_row, body.item_view table table tr.vendor_row, body.pending_orders_detail table table tr.vendor_row, body.order_pos table table tr.vendor_row, body.order_quickadd table table tr.vendor_row, body.post_edi_detail table table tr.vendor_row, body.quote_edit table table tr.vendor_row, body.quote_add table table tr.vendor_row, body.admin_income_accounts_report table table tr.vendor_row, body.accounting_tax_mismatch table table tr.vendor_row { background: #e1e1e1; border-top: 2px solid #e1e1e1 !important; }

body.credit_memo_add table.tablesorter, body.contract_items_add table.tablesorter, body.contract_items_edit table.tablesorter, body.contract_items_company table.tablesorter, body.item_view table.tablesorter, body.pending_orders_detail table.tablesorter, body.order_pos table.tablesorter, body.order_quickadd table.tablesorter, body.post_edi_detail table.tablesorter, body.quote_edit table.tablesorter, body.quote_add table.tablesorter, body.admin_income_accounts_report table.tablesorter, body.accounting_tax_mismatch table.tablesorter { border-collapse: collapse !important; }

body.credit_memo_add table.tablesorter th, body.credit_memo_add table.tablesorter td, body.contract_items_add table.tablesorter th, body.contract_items_add table.tablesorter td, body.contract_items_edit table.tablesorter th, body.contract_items_edit table.tablesorter td, body.contract_items_company table.tablesorter th, body.contract_items_company table.tablesorter td, body.item_view table.tablesorter th, body.item_view table.tablesorter td, body.pending_orders_detail table.tablesorter th, body.pending_orders_detail table.tablesorter td, body.order_pos table.tablesorter th, body.order_pos table.tablesorter td, body.order_quickadd table.tablesorter th, body.order_quickadd table.tablesorter td, body.post_edi_detail table.tablesorter th, body.post_edi_detail table.tablesorter td, body.quote_edit table.tablesorter th, body.quote_edit table.tablesorter td, body.quote_add table.tablesorter th, body.quote_add table.tablesorter td, body.admin_income_accounts_report table.tablesorter th, body.admin_income_accounts_report table.tablesorter td, body.accounting_tax_mismatch table.tablesorter th, body.accounting_tax_mismatch table.tablesorter td { border: 1px solid #a1a1a1; }

/* PRINT STYLES */
.tosprintitems { width: 100%; }
.tosprintitems tr { background: transparent !important; }
.tosprintitems td { border: 1px solid #000; padding: 2px 4px; background: transparent !important; }
.tosprintitems td.highlight { background: yellow !important; }
.tos-barcode { padding-top: 10px !important; }

@media print {
	.printfullwidth { display: block; width: 100% !important; }
	.tosprintitems { page-break-inside: auto; position: relative; }
	.tosprintitems tr { page-break-inside: avoid; page-break-after: auto; position: relative; }
	.tosprintitems .pagebreak { page-break-inside: avoid; page-break-after: auto; display: block; width: 100%; }
	#contentPanel { top: 0 !important; }
}